<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справочники</title>
    <link rel="stylesheet" href="/static/css/categories.css"> 
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>

<div class="card">
    <div class="sticky-action-bar">
        <a href="/" id="btn_back" class="back-btn">← Назад</a>
        <button id="btn_save" class="save_btn_sticky">Добавить</button>
    </div>

    <h2>Управление справочниками</h2>
    
    <!-- <div class="cat-control">
        <label>Название:</label>
        <input type="text" id="cat_name" placeholder="Например: Кухня">
        
        <label>Тип справочника:</label>
        <select id="cat_type">
            <option value="location">Локация</option>
            <option value="group">Группа</option>
        </select>
    </div> -->

    <div class="cat-control">
        <label>Название:</label>
        <input type="text" id="cat_name" placeholder="Например: Кухня">
        
        <label>Тип справочника:</label>
        <div class="cat-switch-container">
            <input type="radio" name="cat_type" value="location" id="type_location" checked>
            <input type="radio" name="cat_type" value="group" id="type_group">

            <label for="type_location" class="switch-label label-left">Локация</label>
            
            <div class="cat-switch-wrapper">
                <span class="cat-switch-slider"></span>
            </div>
            
            <label for="type_group" class="switch-label label-right">Группа</label>
        </div>
    </div>

    <div class="table-container">
        <table class="cat-table">
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Название</th>
                    <th style="width: 40px; text-align: center;">✏️</th>
                    <th style="width: 40px; text-align: center;">❌</th>
                </tr>
            </thead>
            <tbody id="cat_list"></tbody>
        </table>
    </div>
</div>

<script src="/static/js/categories.js"></script>
</body>
</html>