<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройка уведомлений GSM</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/phone.css">
</head>
<body>

    <div class="card">
        <div class="sticky-action-bar">
            <a href="/" class="back-btn">← Назад</a>
            <button id="save_btn" class="save_btn_sticky">Сохранить</button>
        </div>

        <h2>Настройка уведомлений</h2>

        <div class="cat-control">
            <label for="global_phone">Номер телефона администратора:</label>
           <input type="text" id="global_phone" placeholder="+79181234567">
        </div>
    </div>

    <script src="/static/js/phone.js"></script>
</body>
</html>